@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #FFF6E9;
}

.refresh{
    position: relative;
    top: 0px;
    /* width: 100vw;
    height: 60vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #7F27FF;

}
h1{
    margin: -29px;
}

.play{
    display: flex;
    justify-content: center;
    gap: 120px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: #7F27FF;
}
.items{
    margin: 10px;
}
.dice{
    display: flex;
    justify-content: center;
    gap: 123px;

}
footer{
    text-align: center;
    width: 100vw;
}